* {
  margin: 0;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.activity {
  background-color: #DBDBDB;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  bottom: 2px;
  right: 0;
}

.wrap1 .faceImg:nth-child(2) .activity,
.wrap1 .faceImg:nth-child(4) .activity,
.wrap2 .faceImg:nth-child(1) .activity,
.wrap2 .faceImg:nth-child(2) .activity {
  background-color: #4CFE88;
} 

/* float을 사용한 레이아웃 */

.main {
  display: flow-root;
}

.wrap1, .wrap2 {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.faceImg {
  float: left;
  margin-right: 15px;
  position: relative;
}


/* flex를 사용한 레이아웃 */
/* 
@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: column nowrap;
  }

  .wrap1, .wrap2 {
    display: flex;
    margin-bottom: 10px;
  }

  .wrap1 {
    order: 2;
  }

  .faceImg {
    margin-right: 20px;
    position: relative;
  }
} */